[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "buckethandler"

[requirements]
python = '3.6'

[packages]
click = ">= 6.7"
click-log = ">= 0.2.0"
boto3 = "*"

[dev-packages]
pytest = "*"
